:root {
  --primary-color: #2d3748;
  --primary-hover-color: #1a202c;
  --border-color: #e2e8f0;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
}

body{
  font-family: 'Roboto', sans-serif;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px var(--box-shadow-color);
}

.card .card-img-top {
  border-radius: 5px 5px 0 0;
}

.card .card-body {
  padding: 20px;
}

.card .card-title {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-text {
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  margin-top: 10px;
}

.card .btn-primary:hover {
  background-color: var(--primary-hover-color);
  border-color: var(--primary-hover-color);
}
